/* Tags */
label {
    font-size: 20px;
}

p {
    text-indent: 1.0em;
}

/* Multi Classes */
.button {
    background-color: black;
    border: none;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
}


/* Solo Classes */
.addToCartDiv{
    width:25%;
}

.buyItNowDiv{
    width:25%;
}

.itemHeader {
    display: flex;
}

.itemNameDiv{
    width:50%;
}

.itemPicture {
    width:50%   
}

.itemText {
    align-self: center;
    display: inline-block;
    width:50%;
}

.itemViewport {
    display: flex;
}
/*
.loginDiv {
    float:right;
    font-size: 12px;
    padding: 0px;
    width: 260px
}

.loginDiv  input{
    width:100px;
}

.loginDiv  *{
    display: inline-block;
}
*/
.logoDiv {
    width:300px;
}

.shoppingCartDiv {
    align-self: flex-end;
    margin: 0px 5px 0px 5px;
    width:48px;
}

.topBanner {
    border-bottom: 2px solid black;
    display: flex;
    height: 105px;
    justify-content: space-between;
    width: 100%;
}

.topBanner div{
    display: inline-block;
}


/* Utilities */
.centerWidth {
    margin: auto;
    max-width: 1000px;
}

.itemHeader {
    margin:auto;
}

.hidden {
    display: none;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.marginTop10 {
    margin-top: 10px;
}

.marginRight {
    margin-right: 25px;
}

.mobilePic img{
    margin:auto;
    max-height: 300px;
    text-align:  center;
}


/* Media */
@media (max-width: 767px) {
    .addToCartDiv{
        margin:10px 0px 10px 0px;
        width:100%;
    }

    .buyItNowDiv{
        margin:10px 0px 10px 0px;
        width:100%;
    }

    .itemHeader {
        display: block;
    }

    .itemNameDiv{
        width:100%;
    }
}

@media (max-width: 411px) {
    
    
}